/*----------------------- Primary colors ---------------------- */

// db=dark blue
$dbintro: hsl(217, 28%, 15%);
$dbmain: hsl(218, 28%, 13%);
$dbfooter: hsl(216, 53%, 9%);
$dbtestimonials: hsl(219, 30%, 18%);

/*----------------------- Accent colors ---------------------- */

$cyan: hsl(185, 71%, 67%);
$blue: hsl(186, 100%, 42%);
$ligthred: hsl(0, 100%, 63%);

/*----------------------- Neutral colors ---------------------- */

$white: hsl(0, 0%, 100%);

/*------------------------- Typography ------------------------ */

//Body Copy
$font-body: 14px;

//Headeings, Call-to-actions, Header Navigation
$font-family-header: 'Raleway', sans-serif;

//Body
$font-family: 'Open Sans', sans-serif;

