/*----------------------- Primary colors ---------------------- */

// db=dark blue
$dbintro: hsl(217, 28%, 15%);
$dbmain: hsl(218, 28%, 13%);
$dbfooter: hsl(216, 53%, 9%);
$dbtestimonials: hsl(219, 30%, 18%);

/*----------------------- Accent colors ---------------------- */

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$ligthred: hsl(0, 100%, 63%);

/*----------------------- Neutral colors ---------------------- */

$white: hsl(0, 0%, 100%);

/*------------------------- Typography ------------------------ */

//Body Copy
$fontBody: 14px;

//Headeings, Call-to-actions, Header Navigation
//$fontFamilyH: Raleway;